/* Apps page container */
#apps-sections {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Custom select styling */
  .custom-select-wrapper {
    position: relative;
    margin: 20px auto;
    width: 250px;
  }
  .custom-select-wrapper select {
    background-color: #0047AB;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  .custom-select-wrapper::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  .custom-select-wrapper:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Table styling within the apps page */
  table {
    border: none;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}