/* common.css */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Reset and global styles */
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  gap: 10px;
}
img {
  width: 100%;
}

/* Typography */
h1, h2, h3, h4, p {
  text-align: center;
  gap: 10px;
}
h1, h2 {
  font-family: 'Oxygen', serif;
  font-weight: 700;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
h3, h4 {
  font-family: 'Oxygen', serif;
  font-weight: 400;
}
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
}
.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}
.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}

/* Utility classes */
.custom-section {
  margin: 20px;
}
.custom-section h2 {
  margin-bottom: 20px;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.content-wrapper .left {
  grid-column: 1;
}
.content-wrapper .right {
  grid-column: 2;
}
.content-wrapper .left:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

/* Form and Button Defaults */
input, button {
  outline-color: hsl(0 10% 0%);
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 0px;
  border-radius: 40px;
  transition: border-color 5s;
}
input, button > span {
  padding: 1em 1.3em;
}
button {
  background: #645bff;
  color: #fff;
  border: 10;
}
button:hover {
  background-color: #CBC3E3;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #A7C7E7;
  color: #333;
  font-size: 16px;
  margin-top: 30px;
}

/* Basic grid (if needed) */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-md-4, .col-sm-6 {
  padding: 0 15px;
  flex: 1;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Banner Section Styling */
section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}